# Backend
fastapi
uvicorn
python-dotenv
supabase
cryptography
streamlit
requests
pydantic

# Voice processing
speechbrain
torchaudio
librosa
soundfile
numpy
scipy

# Automatic Speech Recognition
transformers
torch
sentencepiece
