fastapi
uvicorn
python-dotenv
supabase
cryptography
streamlit
requests
pydantic
twilio

# Voice-related processing
speechbrain
torchaudio
librosa
pyaudio
soundfile          
numpy              
scipy              

# ASR (Automatic Speech Recognition)
transformers     
torch              
sentencepiece      

# Security

itsdangerous       
